
#LOGO {
    margin-right: 700px;
    padding-left: 50px;
    position: relative;
    top: 50px;
}

.elements {
    margin-right: 50px;
    position: relative;
    top: 50px;
}
h1 {
    margin-top: 100px;
    margin-left: 40px;
}

#paragraph {
   width: 300px;
   margin-left: 50px;
   text-align: left;
}

#image{
    width: 300px;
    height: 300px;
    float: right;
    position: relative;
    bottom: 310px;
    background-image: url("./assets/pic\ for\ landing\ page.png");
    background-size: cover;
    display: inline-block;
    padding-right: 300px;
    padding-bottom: 100px;
}

button {
      background-color: rgb(2, 220, 133);
      color: white;
      border: none;
      border-radius: 20px;
      position: relative;
      left: 50px;
      top: 20px;
}
  .load {
    background-color: rgb(2, 220, 133);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 58px;
    animation: scaling 3s ease-in-out infinite;
  }
  @keyframes scaling {
    0%, 100%{
        transform:scale(0.2);
    }
    40%{
      transform:scale(1);
    }
    50%{
        transform:scale(1.2);
    }
  }
  div:nth-child(0) {
    animation-delay: 0s;
  }
  div:nth-child(1) {
    animation-delay: 0.2s;
  }
  div:nth-child(2) {
    animation-delay: 0.4s;
  }
  div:nth-child(3) {
    animation-delay: 0.6s;
  }

